<!DOCTYPE html>
<html>

<head>
<% include partials/admin/head %>
</head>
 
<body class="container">
<header>
    <% include partials/admin/header %>
</header>


    <% include partials/admin/side %>
	  
	  
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>Welcome Admin</h1>
            <p>This is your admin panel.</p>
			<p>From here you can Add a new User.</p>
			<p>Remove a User.</p>
			<p>Keep records of all the users.</p>
        </div>
		</div>
    
<footer class="container-fluid">
    <% include partials/admin/footer %>
</footer>
</body>
</html>