<!DOCTYPE html>
<html>

<head>
<% include partials/student/head %>
</head>
 
<body class="container">
<header>
    <% include partials/student/header %>
</header>


    <% include partials/student/side %>
	  
	  
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h2>Select the subject </h2><br>
			<ul>
			<li><a href="/java">JAVA</a></li><br>
			<li><a href="cq">C</a></li>
            </ul>
        </div>
		</div>
    
<footer class="container-fluid">
    <% include partials/student/footer %>
</footer>
</body>
</html>