<!DOCTYPE html>
<html>

<head>
<% include partials/teacher/head %>
</head>
 
<body class="container">
<header>
    <% include partials/teacher/header %>
</header>


    <% include partials/teacher/side %>
	  
	  
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>Welcome Teacher</h1>
            <p>This is your Teacher panel.</p>
			<p>From here you can add questions for students.</p>
        </div>
		</div>
    
<footer class="container-fluid">
    <% include partials/teacher/footer %>
</footer>
</body>
</html>