<div class="col-sm-4 sidenav">     
        <div class="well">
		<ul class="nav nav-pills nav-stacked">
		<h3>Admin Panel</h3>
        <li class="active"><a href="/teacher">Home</a></li>
		<li><a href="/test">Add Questions</a></li>
		<li><a href="/vque">Manage Questions</a></li>
		<li><a href="/on">View Students Activity</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul><br>
	  </div>
	  </div>