<div class="col-sm-4 sidenav">     
        <div class="well">
		<ul class="nav nav-pills nav-stacked">
		<h3>Admin Panel</h3>
        <li class="active"><a href="#section1">Home</a></li>
		<li><a href="/newuser">Add User</a></li>
        <li><a href="/tlist">Teachers List</a></li>
        <li><a href="/slist">Students List</a></li>
		<li><a href="/remove">Remove a User</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul><br>
	  </div>
	  </div>