<div class="col-sm-4 sidenav">     
        <div class="well">
		<ul class="nav nav-pills nav-stacked">
		<h3>Admin Panel</h3>
        <li class="active"><a href="/student">Home</a></li>
		<li><a href="/prac">Practice</a></li>
		<li><a href="/logout">Logout</a></li>
      </ul><br>
	  </div>
	  </div>